<div class="container">
    <div *ngIf='loading'>
        <spinner size="100" tickness="5" color="#007bff" style="position: absolute; top:50%;left:30%">Loading...</spinner>
    </div>

    <div *ngIf = '!loading' >
        <table class="table table-striped" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
            <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="_id">#</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="id">Id</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 5%">
                    <mfDefaultSorter by="userLevel">User Level</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of mf.data">
                <td>{{user._id}}</td>
                <td>{{user.id}}</td>
                <td>{{user.nickName}}</td>
                <td>{{user.userLevel}}</td>
                <td>
                    <button type="button" class="btn btn-primary" *ngIf="user.userLevel == 15" (click)="approveApplyForPro(user)">Approve</button>
                    <button type="button" class="btn btn-primary" *ngIf="user.userLevel == 15" (click)="rejectApplyForPro(user)">Reject</button>
                    <button type="button" class="btn btn-primary" *ngIf="user.userLevel == 20">Downgrade</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
