<h1></h1>
<br /><br />

<div class="container-fluid" style="position:absolute; top: 20%">
      <div class="row" >
          <div class="col-sm-3 col-md-3">
          </div>
          <div class="col-sm-6 col-md-6"> 
            <div class="panel panel-default" >
                <div class="panel-body" >
                    <form name="form" id="form" >   
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" type="text" class="form-control" name="user" value="" placeholder="Admin" [(ngModel)]="name">                                        
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
                        </div>                                                                  

                        <div class="form-group">
                            <!-- Button -->
                            
                            <button style="float: right" (click)='login()' class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Login</button>                          
                            
                        </div>

                    </form>     

                </div>                     
            </div>  
        </div>
      </div>
</div>



