<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">FindPro</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/home/users']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home/settings']">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']">Help</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <!--input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"-->
            <button class="btn btn-outline-success my-2 my-sm-0" (click)='logout()'>Logout</button>
          </form>
  
        </div>
      </nav>
</header>
<router-outlet></router-outlet>   
<alert></alert>
