<div class="container">
    <div *ngIf='loading'>
        <spinner size="100" tickness="5" color="#007bff" style="position: absolute; top:50%;left:30%">Loading...</spinner>
    </div>

    <div *ngIf = '!loading' >
        <table class="table table-striped" [mfData]="services" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
            <tr>
                <th style="width: 15%">
                    <mfDefaultSorter by="_id">#</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="id">Id</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="ownerId">OwnerId</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="introduction">Describtion</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of mf.data">
                <td>{{service._id}}</td>
                <td>{{service.id}}</td>
                <td>{{service.ownerId}}</td>
                <td>{{service.introduction}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="disapproveService(service)">Disapprove</button>
          
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
