<h1></h1>
<br /><br /><br />
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2">
        <nav class="d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/home/users']" (click)="select('Users')" [ngClass]="{active: isActive('Users')}">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home/videos']" (click)="select('Videos')" [ngClass]="{active: isActive('Videos')}">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home/services']" (click)="select('Services')" [ngClass]="{active: isActive('Services')}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home/bigEvents']" (click)="select('BigEvents')" [ngClass]="{active: isActive('BigEvents')}">Big Events</a>
            </li>
          </ul>


        </nav>
        </div>
        <div class="col-sm-9 col-md-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    

  
